page-map {
        img {
            width:50%;
            left:50%;
            position:relative;
            margin-top:30px;
            margin-bottom: 30px;
            transform: translateX(-50%);
        }
        a {
          left:50%;
          transform: translateX(-50%);
          text-transform: initial !important;
          letter-spacing: 1px;
          margin-top:10px !important;
          color:#5b5a5a !important;
        }
      .content {
        background-color: #edf2f8;
      }
      .item {
        margin-bottom:12px;
      }
      .item-inner {
        border-top: 0 !important;
        border-bottom: 0 !important;
      }
      .item-input:last-child {
        border-bottom: 0 !important;
      }
      .mtop {
        margin-top:10px;
      }
}
